{% extends 'base.html' %}

{% block content %}
<div class="w-users-userformpagewrap page-wrapper-utility-pages">
    <div data-w-id="62b0cb992aca6122cbb3a86300000000000b"
        class="w-users-usersignupformwrapper card form utility-pages">
        <div tabindex="-1" class="w-users-userformsuccessstate text-center w-form-success">
            <div class="w-users-userformheader">
                <div class="line-rounded-icon success-icon"></div>
                <h2 class="mg-bottom-8px">Account activated</h2>
            </div>
            <p>Your account was created successfully. You can now log in by navigating to the link below.</p><a
                href="/log-in" class="btn-primary w-button">Go to login</a>
        </div>
        <form method="post" data-wf-user-form-type="signup">
            <div class="w-users-userformheader"><img
                    src="https://assets.website-files.com/62abc23e594f83b60b6b133d/62ae19a7502a08dbb552a015_password-writelogy-brix-templates.svg"
                    alt="Sign In - Writelogy X Webflow Template" class="mg-bottom-24px" />
                <h1 class="heading-h2-size">Sign up</h1>
                <p>Sit porttitor potenti nisl proin penatibus velit etiam ac com faucibus nunc eu quis integer quis
                    egesta.</p>
            </div>
            <div class="w-layout-grid grid-1-column">
                <input type="email" placeholder="Enter your email address" maxlength="256" name="Email"
                    id="wf-sign-up-email" class="input w-input" autoComplete="username" required=""
                    data-wf-user-form-input-type="email" /><input type="text" class="input w-input" maxlength="256"
                    name="" data-name="field" data-wf-user-field="wf-user-field-name" placeholder="Enter your name"
                    fieldType="" id="wf-sign-up-name" required="" />
                <input type="password" placeholder="Enter your password" maxlength="256" name="Password"
                    id="wf-sign-up-password" class="input w-input" required=""
                    data-wf-user-form-input-type="password" />
                <input type="submit" value="Sign Up" data-wait="Please wait..."
                    class="w-users-userformbutton btn-primary w-button" />
            </div>
            <div class="text-center">
                <p class="mg-top-16px mg-bottom-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
            </div>
        </form>
        <div style="display:none" data-wf-user-form-error="true"
            class="w-users-userformerrorstate error-message utility-page w-form-fail">
            <div class="user-form-error-msg"
                wf-signup-form-general-error-error="There was an error signing you up. Please try again, or contact us if you continue to have problems."
                wf-signup-form-not-allowed-error="You&#x27;re not allowed to access this site, please contact the admin for support."
                wf-signup-form-invalid-email-error="Make sure your email exists and is properly formatted (e.g., user@domain.com)."
                wf-signup-form-email-already_exist-error="An account with this email address already exists. Log in or reset your password."
                wf-signup-form-use-invite_email-error="Use the same email address your invitation was sent to."
                wf-signup-form-invalid-password-error="Your password must be at least 8 characters."
                wf-signup-form-not-verified-error="We couldn&#x27;t verify your account. Please try again, or contact us if you continue to have problems."
                wf-signup-form-expired-token-error="This verification link has expired. A new verification link has been sent to your email. Please try again, or contact us if you continue to have problems.">
                There was an error signing you up. Please try again, or contact us if you continue to have problems.
            </div>
        </div>
        <div tabindex="-1" class="w-users-usersignupverificationmessage text-center w-form-verification"
            data-wf-user-form-verification="true">
            <div class="w-users-userformheader">
                <div class="line-rounded-icon success-icon"></div>
                <h2>Verification Required</h2>
            </div>
            <p>Account verification required. Please check your email to find your unique verification link.</p>
        </div>
    </div>
</div>
{% endblock %}