<div data-w-id="8b78767b-3760-c53b-4567-085cfdd124ca" data-animation="default" data-collapse="small" data-duration="400"
  data-easing="ease" data-easing2="ease" role="banner" class="header-wrapper w-nav">
  <div class="container-default w-container">
    <div class="header-content-wrapper">
      <div class="header-top-wrapper">
        <div class="header-middle social-media">
          <div>
            <div class="w-layout-grid social-media-grid-top header"><a href="https://facebook.com/"
                class="social-icon-square no-bg fb w-inline-block">
                <div class="social-icon-font"></div>
              </a><a href="https://twitter.com/" class="social-icon-square no-bg w-inline-block">
                <div class="social-icon-font"></div>
              </a><a href="https://www.instagram.com/" class="social-icon-square no-bg w-inline-block">
                <div class="social-icon-font"></div>
              </a><a href="https://www.linkedin.com/" class="social-icon-square no-bg w-inline-block">
                <div class="social-icon-font"></div>
              </a></div>
          </div>
        </div><a href="/" aria-current="page" class="header-logo-link w-nav-brand w--current"><img
            src="C:/Users/Jason_Chesney/Downloads/Minimalist_Simple_Brand_Initial_Logo-removebg-preview.svg"
            alt="Writelogy X Webflow Template - Logo" class="header-logo" /></a>
        <div class="header-right-side search">
          <div>
            <div data-hover="true" data-delay="0" data-w-id="605b4ac3-f9a6-4bb8-3302-9607726014bf"
              class="dropdown-wrapper user w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="line-rounded-icon dropdown"></div>
                <div class="line-rounded-icon dropdown-arrow user"></div>
              </div>
              <nav class="dropdown-column-wrapper small no-static w-dropdown-list">
                <div class="dropdown-pd small extra">
                  <div class="w-layout-grid grid-1-column dropdown-link-column single">
                    {% if request.user.is_authenticated %} 
                    <a style="text-decoration: none;" href="/logout"
                      id="w-node-_605b4ac3-f9a6-4bb8-3302-9607726014ca-fdd124ca" class="log-link"
                       type="button">Log Out</a>
                    {% else %}
                    <a style="text-decoration: none;" href="/login"
                      id="w-node-_605b4ac3-f9a6-4bb8-3302-9607726014ca-fdd124ca" class="log-link"
                       type="button">Log In</a>
                      <a
                      href="/signup" class="dropdown-link w-dropdown-link">Sign Up</a>
                    {% endif %}
                    </div>
                </div>
              </nav>
            </div>
          </div><a data-w-id="b9a9b5c1-043b-4101-f32c-1193bfae0b9c" href="#"
            class="btn-circle-primary no-bg search w-inline-block">
            <div class="line-rounded-icon"></div>
          </a>
        </div>
      </div>
      <div class="header-middle">
        <div class="hamburger-menu-wrapper w-nav-button">
          <div class="hamburger-menu-bar top"></div>
          <div class="hamburger-menu-bar bottom"></div>
        </div>
        <nav role="navigation" class="header-nav-menu-wrapper middle w-nav-menu">
          <ul role="list" class="header-nav-menu-list middle">
            <li class="header-nav-list-item middle"><a href="/" aria-current="page"
                class="header-nav-link w-nav-link w--current">Home</a></li>
            <li class="header-nav-list-item middle">
              <div data-hover="true" data-delay="0" data-w-id="8b78767b-3760-c53b-4567-085cfdd124ed"
                class="dropdown-wrapper w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div>Pages</div>
                  <div class="line-rounded-icon dropdown-arrow"></div>
                </div>
                <nav class="dropdown-column-wrapper w-dropdown-list">
                  <div class="dropdown-pd">
                    <div class="w-layout-grid grid-2-columns dropdown-2-sides">
                      <div>
                        <div class="text-uppercase mg-bottom-16px">
                          <div class="text-200 bold color-neutral-800 mg-bottom-8px">Pages</div>
                        </div>
                        <div class="w-layout-grid grid-1-column dropdown-link-column mg-top-16px"><a href="/"
                            aria-current="page" class="dropdown-link w-dropdown-link w--current">Home</a><a
                            href="/home-premium" class="dropdown-link w-dropdown-link">Home (Premium)</a><a
                            href="https://writeologytemplate.webflow.io/blog/3-tips-to-avoid-internet-distractions-at-work"
                            class="dropdown-link w-dropdown-link">Blog Post</a><a
                            href="https://writeologytemplate.webflow.io/blog-posts-premium/how-to-choose-the-best-management"
                            class="dropdown-link w-dropdown-link">Blog Post (Premium)</a><a href="/subscribe"
                            class="dropdown-link w-dropdown-link">Subscribe</a><a href="/contact"
                            class="dropdown-link w-dropdown-link">Contact</a><a href="/log-in"
                            class="dropdown-link w-dropdown-link">Sign In</a><a href="/login"
                            class="dropdown-link w-dropdown-link">Sign up</a><a href="/update-password"
                            class="dropdown-link w-dropdown-link">Update password</a><a href="/reset-password"
                            class="dropdown-link w-dropdown-link">Reset password</a><a href="/access-denied"
                            class="dropdown-link w-dropdown-link">Access Denied</a><a href="/user-account"
                            class="dropdown-link w-dropdown-link">User account</a></div>
                      </div>
                      <div>
                        <div class="text-uppercase mg-bottom-16px">
                          <div class="text-200 bold color-neutral-800 mg-bottom-8px">Utility Pages</div>
                        </div>
                        <div class="w-layout-grid grid-1-column dropdown-link-column mg-top-16px"><a
                            href="/template-pages/start-here" class="dropdown-link w-dropdown-link">Start here</a><a
                            href="/template-pages/style-guide" id="w-node-eea9f944-9e08-84c5-7529-51953f7a44fb-fdd124ca"
                            class="dropdown-link w-dropdown-link">Styleguide</a><a href="/404"
                            class="dropdown-link w-dropdown-link">404 Not found</a><a href="/401"
                            class="dropdown-link w-dropdown-link">Password protected</a><a
                            href="/template-pages/licenses" class="dropdown-link w-dropdown-link">Licenses</a><a
                            href="/template-pages/changelog" class="dropdown-link w-dropdown-link">Changelog</a><a
                            href="https://brixtemplates.com/more-webflow-templates"
                            class="dropdown-link special w-dropdown-link">Browse More Templates</a></div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </li>
            <li class="header-nav-list-item middle">
              <div data-hover="true" data-delay="0" data-w-id="be26c77c-d817-70bc-a38d-79cfaf77f00f"
                class="dropdown-wrapper w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div>Categories</div>
                  <div class="line-rounded-icon dropdown-arrow"></div>
                </div>
                <nav class="dropdown-column-wrapper small w-dropdown-list">
                  <div class="dropdown-pd small">
                    <div class="w-dyn-list">
                      <div role="list" class="grid-1-column dropdown-link-column w-dyn-items">
                        <div role="listitem" class="w-dyn-item"><a href="/blog-post-categories/tips"
                            class="dropdown-link w-dropdown-link">Tips</a></div>
                        <div role="listitem" class="w-dyn-item"><a href="/blog-post-categories/resources"
                            class="dropdown-link w-dropdown-link">Resources</a></div>
                        <div role="listitem" class="w-dyn-item"><a href="/blog-post-categories/guides"
                            class="dropdown-link w-dropdown-link">Guides</a></div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </li>
            <li class="header-nav-list-item middle"><a href="/contact" class="header-nav-link w-nav-link">Contact</a>
            </li>
            <li class="header-nav-list-item middle"><a href="/subscribe"
                class="header-nav-link w-nav-link">Subscribe</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="search-modal">
    <div class="card modal">
      <form action="/search" class="mg-bottom-0 w-form">
        <div class="text-center">
          <h3 class="mg-bottom-24px">Search for articles</h3>
        </div>
        <div class="w-layout-grid grid-1-column"><input type="search" class="input w-input" maxlength="256" name="query"
            placeholder="Search…" id="search-3" required="" /><input type="submit" value="Search"
            id="w-node-b466c455-09e3-6f94-4448-8aade7934ea5-fdd124ca" class="btn-primary search w-button" /></div>
      </form>
      <div data-w-id="38b0f4f3-a5b2-8a3b-0caf-84f4fcd524c2" class="modal-close">
        <div class="line-rounded-icon modal"></div>
      </div>
    </div>
  </div>
</div>